@import "tailwindcss";

:root {
  --background: #101010;
  --primary: #004445;
  --secondary: #2D796D;
  --text: #FFFFFF;
  --error: #fb2c36;
  --gradient: linear-gradient(to bottom right, #004445, #101010);
  --link: #FFFF99;
}

body {
  @apply bg-[var(--background)] text-[var(--primary)] font-mono tracking-wide;
}

.action-card {
  @apply bg-[var(--secondary)] border border-[var(--primary)]/50 rounded-lg p-4 lg:p-6 transition-all duration-200 shadow-lg hover:shadow-[0px_0px_20px_rgba(45,121,109,0.4)] ;
}

.card-content {
  @apply flex items-center justify-between w-full;
}


.card-title {
  @apply text-white text-lg font-bold;
}

.card-description {
  @apply text-white mb-2 text-[14px] opacity-90;
}

.reward-card {
  @apply bg-[var(--secondary)]/60 backdrop-blur-md border border-[rgba(230,230,230,0.2)] rounded-lg p-4 flex items-center gap-4;
}

.nav-bar {
  @apply sticky top-0 backdrop-blur-md text-[var(--text)] px-4 py-4 shadow-[-10px_-10px_20px_rgba(45,121,109,0.4)] w-full;
}

.button {
  @apply bg-[var(--primary)] text-white px-6 py-2 rounded-md shadow-lg text-sm hover:bg-[var(--primary)]/80 hover:scale-95 active:scale-95 transition-[all] duration-200 cursor-pointer;
}

.button-danger {
  @apply bg-[var(--error)] text-white px-6 py-2 rounded-md shadow-lg text-sm hover:bg-[var(--error)]/80 hover:scale-95 active:scale-95 disabled:cursor-not-allowed disabled:opacity-80 disabled:hover:scale-100 transition-[all] disabled:hover:bg-gray-600 disabled:bg-gray-600 duration-200 cursor-pointer;
}

.progress-bar {
  @apply w-full h-3 bg-[var(--primary)]/70 rounded;
}

.progress-fill {
  @apply h-3 bg-gradient-to-r from-yellow-500 to-lime-900 rounded transition-[width] duration-300;
}

.alert {
  @apply p-2 rounded text-[var(--text)];
}

.alert-success {
  @apply bg-[var(--secondary)];
}

.alert-error {
  @apply bg-[var(--error)];
}

.glow-overlay {
  @apply fixed top-0 left-0 w-1/2 h-1/2 pointer-events-none z-[-1] shadow-[-20px_-20px_40px_rgba(45,121,109,0.3)];
}
